{% extends 'forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block extra_meta %}
<script type="text/javascript" src="{{ MEDIA_URL }}forum/js/jquery.cookie.js"></script>
<script type="text/javascript">

	function set_collapser(cat_id) {
		category_body_id = "category_body_" + cat_id;
		if($.cookie(category_body_id)){
			item_id = "#" + category_body_id;
			head_id = item_id.replace("body", "head");
			$(head_id).addClass("collapsed");
			$(item_id).hide()
		}
	}
	$(document).ready(function(){
		$("a.toggle").click(function(){
			header_id = $(this).parent().attr('id');
			body_id = header_id.replace("head", "body");
			item_id = '#' + body_id
			if ($(this).parent().attr('class')==''){
				$(this).parent().addClass("collapsed");
				$.cookie(body_id, 'collapsed');
			}else {
				$(this).parent().removeClass("collapsed");
				$.cookie(body_id, '');
			}
			$(item_id).slideToggle("slow");
		});
	{% for iter in cats %}
		set_collapser({{ iter.id }})
	{% endfor %}
	});
</script>
{% endblock %}

{% block content %}
<div id="idx1" class="blocktable">
{% for iter in cats %}
	<h4 id="category_head_{{ iter.id }}" class="span10">
	    <a class="toggle" href="#">#</a>
		<span>{{ iter.cat }}</span>
	</h4>
	<div class="container" id="category_body_{{ iter.id }}">
		<div class="inbox">
			<table cellspacing="0" class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th class="tcl span6" scope="col">{% trans "Forum" %}</th>
						<th class="tc2 span1" scope="col">{% trans "Topics" %}</th>
						<th class="tc3 span1" scope="col">{% trans "Posts" %}</th>
						<th class="tcr span2" scope="col">{% trans "Last post" %}</th>
					</tr>
				</thead>
				<tbody>
				{% for forum in iter.forums %}
					{% include 'forum/forum_row.html' %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}
